@font-face {
    font-family: Statisfy;
    src: url("/fonts/Satisfy-Regular.ttf");
    font-size: 150%;
}

@font-face {
    font-family: 'OpenSans';
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Merienda';
    src: url("/fonts/Merienda-Bold.ttf");
}

html {
    font-size: 16px;
    scroll-padding-top: 4rem;
    margin: 0;
}

body {
    font-family: 'OpenSans', Sans Serif,Sans;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 50rem;
    max-width: calc(100vw - 2rem);
    margin: 0 auto 5rem auto;
    box-shadow: 0 0px 4px -3px rgba(0, 0, 0.9, .5), 0 0px 5px -3px rgba(0, 0, 0, .5);
    background-color: #f7f7f7;
    border-radius: 2px;
}

.header {
    padding: .5rem 2.5rem .5rem 2.5rem;
    margin: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    font-family: 'Statisfy';
    font-size: 200%; 
}

.header a {
    float: right;
    font-family: 'OpenSans';
    padding-top: .5rem;
    font-size: 50%;
}

.content {
    padding: 1rem 2.5rem 3rem 2.5rem;
}



.drawio {
    margin-top: 3rem;
}

.postdate {
    float: right;
    font-family: 'Merienda';
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        max-width: 800px;
    }
    .content {
        padding: 1rem 1rem 3rem 1rem;
    }
    .header {
        padding: .5rem 1rem .5rem 1rem;
    }
}