
.content {
    padding: 0;
}

.drawio {
    margin-top: 3rem;
}

.postdate {
    float: right;
    font-family: 'Merienda';
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        max-width: 800px;
    }
    .content {
        padding: 1rem 1rem 3rem 1rem;
    }
    .header {
        padding: .5rem 1rem .5rem 1rem;
    }
}