

.container {
    width: 80rem;
    max-width: calc(100vw - 2rem);
    margin: 0 auto 5rem auto;
    box-shadow: 0 0px 4px -3px rgba(0, 0, 0.9, .5), 0 0px 5px -3px rgba(0, 0, 0, .5);
    background-color: #f7f7f7;
    border-radius: 2px;
}


.content {
    padding: 0;
}

.drawio {
    margin-top: 3rem;
}

.postdate {
    float: right;
    font-family: 'Merienda';
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        max-width: 800px;
    }
    .content {
        padding: 1rem 1rem 3rem 1rem;
    }
    .header {
        padding: .5rem 1rem .5rem 1rem;
    }
}