


.content p {
    line-height: 1.625;
    /* text-indent: 2em; */
    overflow-wrap: normal;
    word-break: normal;
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #202124;
}

.content a {
    text-decoration: none;
    color: #3730a3;
}


li {
    line-height: 1.8;
}

ul li::marker {
    color: #858585;
}

h1,
h2,
h3,
h4 {
    /* font-family: 'Merienda'; */
    color: #3e3e3e;
}

/* GitHub Style Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #e1e4e8;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f6f8fa;
}

tr:hover {
    background-color: #f0f3f6;
}

th {
    background-color: #f6f8fa;
}
