@font-face {
    font-family: 'Open sans';
    src: url("/assert/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Roboto Mono';
    size: 150%;
    src: url("/assert/fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: 'Merienda';
    src: url("/assert/fonts/Merienda-Bold.ttf");
}


body {
    background-color:#f0f0f0;
    font-family: 'Open sans', Sans Serif,Sans;
    margin: 0;
}
.content {
    width: 80ch;
    max-width: calc(100vw - 6em);
    margin: 2em auto 2em 8em;
    padding: 3rem;
    box-shadow: 0 0px 8px -3px rgba(0, 0, 0.9, .5), 0 0px 5px -3px rgba(0, 0, 0, .5);
    background-color: #fefefe;
    min-height: 500px;
    border-radius: 2px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: .5em 0 .6em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* 添加底部边框 */
    background-color: rgba(255, 255, 255, 0.8); /* 设置背景颜色和透明度 */
    backdrop-filter: blur(6px); /* 使用毛玻璃效果，可以根据需要调整模糊程度 */
    z-index:998; /*确保 header 处于其他内容之上*/
    font-size: 88%;
    color: #757575;
}


html{
    scroll-padding-top: 60px;
}


.header span {
    margin-left: 2em;
}

.header a {
    font-size: 130%;
    font-family: 'Merienda';
}

.content a {
    text-decoration: none;
}
li {
    line-height: 1.8;
}

li::marker {
    color: #d1d1d1;
}

h1,
h2,
h3,
h4 {
    font-family: 'Merienda';
}

.postdate {
    float: right;
    font-family: 'Merienda';
}


@media (max-width: 900px) {
    .content {
        margin: 2em auto 2em auto;
        padding: 3rem 2rem 2rem 1.5rem;
        max-width: calc(100vw - 3em);
    }
    
}
