.logo {
    width: 320;
    text-align: center;
    margin: 1rem 1rem 1rem 2rem;
}

@media (min-width: 800px) {
    .logo {
        float: right;
    }
}

.site {
    margin-top: 2em;
    margin-left: .5em;
    float: right;
    text-align: right;
}

.content p {
    line-height: 1.625;
    /* text-indent: 2em; */
    overflow-wrap: normal;
    word-break: normal;
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(45, 45, 45);
}



code {
    font-family: 'Roboto Mono';
    font-size: 80%;
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(234, 245, 248);
}
.content a {
    text-decoration: none;
    color: #3730a3;
}