.logo {
    width: 320;
    text-align: center;
    margin: 1rem 1rem 1rem 2rem;
}

@media (min-width: 800px) {
    .logo {
        float: right;
    }
}

.site {
    margin-top: 2em;
    margin-left: .5em;
    float: right;
    text-align: right;
}

.content p {
    line-height: 1.625;
    text-indent: 2em;
    overflow-wrap: normal;
    word-break: normal;
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(45, 45, 45);
}

pre {
    padding-left: 2rem;
}

pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Roboto Mono';
    font-size: 80%;
}

.content a {
    text-decoration: none;
    color: #3730a3;
}